@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
  }

  .logo{
    position:relative;
    text-align: center;
    top:120px;
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    color:rgb(211, 167, 114);
  }

  .logo-sub{
    position: relative;
    text-align: center;
    top:130px;
    color:rgb(26, 25, 25);
    font-size: 16px;
    font-weight: 200;
  }

  /* .header-li{
    margin:auto;
    width:200px;
    height:300px;
    background-color: blanchedalmond;
  } */

  header ul{
    position: relative;
    top:160px;
    left:250px;
    display: flex;
    flex-direction: row;
    gap:40px;
  }

 .bt{
    list-style-type:none;
    cursor: pointer;
  }

  ul > li:first-of-type{
    list-style-type: none;
    color:rgb(150, 150, 150);

  }

  ul > li:first-of-type:hover{
    color: #2e1212;
    cursor: pointer;
  }

  header ul li{
    font-size: 15px;
    font-weight: 600;
  }

  .dropbtn {
    color: rgb(150, 150, 150);
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #e6a1a1;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #2e1212;}

  .main{
    margin:0px 200px;
    margin-top:300px;
    margin-left:100px;
  }

 .main h2{
  font-size: 46px;
  font-style: italic;
  padding:20px;
 }

.cont{
  display: block;
  width:1000px;
  height:90px;
  background-color: #f1f1f1;
  padding-top:30px;
  padding-left:40px;
  font-size:20px;
}

.howd{
  font-size: 20px;
}

.mail{
  color:rgb(122, 91, 53);
}

.mail:hover{
  color:rgb(172, 170, 169);
}

.services{
  display:block;
  margin-top:20px;
  margin-bottom:20px;
  font-size:40px;
  color:rgb(77, 75, 74);
}

.proof{
  margin-left:50px;
}
.line-edit{
  font-size:20px;
}

.rate{
  display: block;
  width:1000px;
  height:90px;
  background-color: #f1f1f1;
  padding-top:30px;
  padding-left:40px;
  font-size:20px;
  margin-top:100px;
  margin-bottom:200px;
}
.rates{
  font-size:20px;
  margin-left:10pc;
  margin-top:60px;
}

